In [1]:
# ===============================
# 1. Prepare Monthly Revenue Data
# ===============================

import pandas as pd

df = pd.read_csv("superstore_cleaned.csv")

df["Order Date"] = pd.to_datetime(df["Order Date"])

monthly = df.groupby(df["Order Date"].dt.to_period("M"))["Sales"].sum().reset_index()

monthly["Order Date"] = monthly["Order Date"].astype(str)
monthly["Order Date"] = pd.to_datetime(monthly["Order Date"])

monthly.columns = ["ds", "y"]

monthly.head()

          ds          y
0 2015-01-01  14205.707
1 2015-02-01   4519.892
2 2015-03-01  55205.797
3 2015-04-01  27906.855
4 2015-05-01  23644.303

In [7]:
from prophet import Prophet

model = Prophet()
model.fit(monthly)

future = model.make_future_dataframe(periods=3, freq='ME')

forecast = model.predict(future)

forecast[["ds", "yhat", "yhat_lower", "yhat_upper"]].tail()

10:30:02 - cmdstanpy - INFO - Chain [1] start processing
10:30:02 - cmdstanpy - INFO - Chain [1] done processing

           ds           yhat     yhat_lower     yhat_upper
46 2018-11-01  100916.901486   91523.218131  110723.512643
47 2018-12-01   90328.166183   80861.475476  100154.519969
48 2018-12-31   40916.277906   31475.396012   49921.985318
49 2019-01-31   27223.271177   18424.834889   36105.253687
50 2019-02-28  109599.772422  100964.169552  119565.812069

In [8]:
forecast_output = forecast[["ds", "yhat", "yhat_lower", "yhat_upper"]]

forecast_output.to_csv("revenue_forecast.csv", index=False)

print("Forecast file saved.")

Forecast file saved.